.accordion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.disciplines-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.discipline-info {
    min-width: 250px;
}