#login-page {
    background-color: #ccc;
}

mat-card {
    max-width: 400px;
    margin: 15em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}

.full-width-input {
    width: 100%;
}