::ng-deep .success {
    background-color: #4BB543;
    color: #fff;
}

::ng-deep .error {
    background-color: #F32013;
    color: #fff;
}

::ng-deep .default {
    background-color: #1C3F6E;
    color: #fff;
}

::ng-deep .mat-simple-snackbar-action {
    color: #fff;
}