.radio-margin {
    margin: 0 10px;
}

.tools {
    display: flex;
    justify-content: space-around;
}

.report-buttons {
    align-self: center;
}

.report-buttons button {
    margin-left: 20px;
}